body {
    background-color: #0d0d0d;
}

#toph1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #f8b423;
    text-align: center;
}

.toph1 {
    height: auto;
    width: 1200px;
    background-color: #111111;
    margin: auto;
}

.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 1500px;
    opacity: 80%;
}

#toph3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    color: #7fd652;
}

.toph3 {
    background-color: #111111;
    height: 150px;
    width: 600px;
    margin-left: 50px;
}

.lasagna,
.pie,
.sandwich {
    font-size: 20px;
    color: #f8b423;
}

a:link {
    color: #7fd652;
}

a:visited {
    color: #1c5300;
}